<h1>Mountains#show</h1>
<p>Find me in app/views/mountains/show.html.erb</p>

<% @mountain.each do |m| %>
  <div class="star">
    <% if m.difficulty? %>
      <% for i in 1..m.difficulty do %>
        ★
      <% end %>
    <% end %>
  </div>
<% end %>
