<%= content_for(:title, 'FAQ') %>

<div class='comment_index'>
  <h2>よくあるご質問</h2>
  <dl class='Qa-Box'>
    <div class='Qa'>
      <dt>
        <p>山の追加希望はどこから行えますか？</p>
      </dt>
      <dd>
        <p>
          TOPページの真ん中あたりにある「山の追加希望」</br>
          もしくは、フッター部分の「お問合せ（山の追加希望もこちら）」からお願いいたします。
        </p>
      </dd>
    </div>
    <div class='Qa'>
      <dt>
        <p>山を自分で追加することはできますか？</p>
      </dt>
      <dd>
        <p>
          申し訳ございませんが、ユーザー様では山の追加はできないようになっております。</br>
          山の追加希望は募集中ですので、お問合せページよりお待ちしております。
        </p>
      </dd>
    </div>
    <div class='Qa'>
      <dt>
        <p>口コミを投稿したのですが、間違ってしまいました。編集・削除は可能でしょうか？</p>
      </dt>
      <dd>
        <p>
          はい、可能でございます。</br>
          ログイン後、ヘッダー部分のアイコン画像をクリックしていただくと、「口コミ履歴」がございます。</br>
          「口コミ履歴」ページにアクセスいただくと、編集・削除を行えるようにしております。</br>
          ※ご自身で投稿した口コミのみ可能でございます。
        </p>
      </dd>
    </div>
  </dl>
</div>
