// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//mountain#show
.mountain_comment{
  margin: 20px;
  padding: 30px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.comment_font{
  font-weight: bold;
}

.comments{
  border: 2px solid rgb(202, 202, 202);
  box-shadow: 0 0 2px rgb(200, 199, 199);
  border-radius: 10px;
  padding: 20px;
  margin: 25px 0;
}

.content{
  margin-bottom: 0;
}

.comment_new{
  margin: 40px 20px;
  padding: 40px;
  background-color: rgb(213, 212, 212);
  border-radius: 10px;
}

.form_height{
  height: 10rem;
}

//comment#index
.comment_index{
  margin: 20px;
}

.comment_list{
  border: 2px solid rgb(202, 202, 202);
  box-shadow: 0 0 2px rgb(200, 199, 199);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 20px 0 20px;
}

.comment_link{
  text-decoration: none;
  color: black;
}

.comment_link:hover{
  color: gray;
}
