// Place all the styles related to the mountains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table , td, th {
	border: none;
	border-collapse: collapse;
}

th {
	padding: 15px 3px;
	width: 60px;
	height: 25px;
}

td{
  padding: 15px 3px;
	width: 55px;
	height: 25px;
}

.new_mountain{
  margin: 50px;
}

.star-field{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}
.star-field input[type='radio']{
  display: none;
}
.star-field label{
  font-size: 50px;
  padding-right: 10px;
  color: #ccc;
  font-size: 30px;
  cursor: pointer;
} 
.star-field label:hover,
.star-field label:hover ~ label,
.star-field input[type='radio']:checked ~ label{
  color: rgb(255, 145, 0);
}

//index
.mountain_index{
  padding: 10px 40px;
}

.area{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.area_map{
  width: 50%;
}

// show
.star{
font-size: 50px;
color: rgb(255, 145, 0);
}

.mountain_img{
  width: 100%;
}

.mountain_content{
  margin: 40px;
}

//検索関係
.mountain_link{
  text-decoration: none;
  color: black;
}

.mountain_link:hover{
  color: gray;
}

.search{
  padding: 10px 20px 0 20px;
}

.search_index{
  padding-top: 15px;
}

.search_content{
  display: flex;
  margin: 0 20px;
  padding-top: 20px;
}

.search_mountain_img{
  width: 260px;
  height: 195px;
  border-radius: 10px;
  margin-right: 25px;
}

.mountain_name{
  font-weight: bold;
}

.search_star{
  font-size: 20px;
}
